[submodule "WareHouse/Gomoku_DefaultOrganization_20230930091006"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930091006
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930091006
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930091703"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930091703
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930091703
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930092731"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930092731
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930092731
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930093903"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930093903
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930093903
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930094227"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930094227
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930094227
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930095324"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930095324
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930095324
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930095500"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930095500
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930095500
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930095942"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930095942
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930095942
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930100309"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930100309
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930100309
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930100651"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930100651
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930100651
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930135014"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930135014
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930135014
[submodule "WareHouse/Gomoku_DefaultOrganization_20230930140241"]
	path = WareHouse/Gomoku_DefaultOrganization_20230930140241
	url = ./WareHouse/Gomoku_DefaultOrganization_20230930140241
[submodule "WareHouse/Gomoku_DefaultOrganization_20231007181138"]
	path = WareHouse/Gomoku_DefaultOrganization_20231007181138
	url = ./WareHouse/Gomoku_DefaultOrganization_20231007181138
[submodule "WareHouse/Gomoku_DefaultOrganization_20231007182616"]
	path = WareHouse/Gomoku_DefaultOrganization_20231007182616
	url = ./WareHouse/Gomoku_DefaultOrganization_20231007182616
[submodule "WareHouse/Gomoku_DefaultOrganization_20231008105845"]
	path = WareHouse/Gomoku_DefaultOrganization_20231008105845
	url = ./WareHouse/Gomoku_DefaultOrganization_20231008105845
[submodule "WareHouse/Gomoku_DefaultOrganization_20231008122438"]
	path = WareHouse/Gomoku_DefaultOrganization_20231008122438
	url = ./WareHouse/Gomoku_DefaultOrganization_20231008122438
[submodule "WareHouse/Gomoku_DefaultOrganization_20231008163157"]
	path = WareHouse/Gomoku_DefaultOrganization_20231008163157
	url = ./WareHouse/Gomoku_DefaultOrganization_20231008163157
[submodule "WareHouse/Gomoku_DefaultOrganization_20231008170904"]
	path = WareHouse/Gomoku_DefaultOrganization_20231008170904
	url = ./WareHouse/Gomoku_DefaultOrganization_20231008170904
[submodule "WareHouse/Gomoku_DefaultOrganization_20231012120324"]
	path = WareHouse/Gomoku_DefaultOrganization_20231012120324
	url = ./WareHouse/Gomoku_DefaultOrganization_20231012120324
[submodule "WareHouse/Gomoku_DefaultOrganization_20231012151424"]
	path = WareHouse/Gomoku_DefaultOrganization_20231012151424
	url = ./WareHouse/Gomoku_DefaultOrganization_20231012151424
[submodule "WareHouse/Gomoku_DefaultOrganization_20231012214506"]
	path = WareHouse/Gomoku_DefaultOrganization_20231012214506
	url = ./WareHouse/Gomoku_DefaultOrganization_20231012214506
[submodule "WareHouse/Gomoku_DefaultOrganization_20231013151347"]
	path = WareHouse/Gomoku_DefaultOrganization_20231013151347
	url = ./WareHouse/Gomoku_DefaultOrganization_20231013151347
[submodule "WareHouse/Gomoku_DefaultOrganization_20231013161727"]
	path = WareHouse/Gomoku_DefaultOrganization_20231013161727
	url = ./WareHouse/Gomoku_DefaultOrganization_20231013161727
[submodule "WareHouse/Gomoku_DefaultOrganization_20231013162905"]
	path = WareHouse/Gomoku_DefaultOrganization_20231013162905
	url = ./WareHouse/Gomoku_DefaultOrganization_20231013162905
[submodule "WareHouse/Gomoku_DefaultOrganization_20231015220739"]
	path = WareHouse/Gomoku_DefaultOrganization_20231015220739
	url = ./WareHouse/Gomoku_DefaultOrganization_20231015220739
[submodule "WareHouse/Gomoku_DefaultOrganization_20231015221938"]
	path = WareHouse/Gomoku_DefaultOrganization_20231015221938
	url = ./WareHouse/Gomoku_DefaultOrganization_20231015221938
[submodule "WareHouse/Gomoku_DefaultOrganization_20231015230250"]
	path = WareHouse/Gomoku_DefaultOrganization_20231015230250
	url = ./WareHouse/Gomoku_DefaultOrganization_20231015230250
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018100210"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018100210
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018100210
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018100753"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018100753
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018100753
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018101833"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018101833
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018101833
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018102513"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018102513
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018102513
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018153011"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018153011
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018153011
[submodule "WareHouse/Gomoku_DefaultOrganization_20231018154903"]
	path = WareHouse/Gomoku_DefaultOrganization_20231018154903
	url = ./WareHouse/Gomoku_DefaultOrganization_20231018154903
[submodule "WareHouse/snake_DefaultOrganization_20231018160749"]
	path = WareHouse/snake_DefaultOrganization_20231018160749
	url = ./WareHouse/snake_DefaultOrganization_20231018160749
[submodule "WareHouse/snake_DefaultOrganization_20231018165701"]
	path = WareHouse/snake_DefaultOrganization_20231018165701
	url = ./WareHouse/snake_DefaultOrganization_20231018165701
[submodule "WareHouse/snake_DefaultOrganization_20231018173759"]
	path = WareHouse/snake_DefaultOrganization_20231018173759
	url = ./WareHouse/snake_DefaultOrganization_20231018173759
[submodule "WareHouse/snake_DefaultOrganization_20231019122650"]
	path = WareHouse/snake_DefaultOrganization_20231019122650
	url = ./WareHouse/snake_DefaultOrganization_20231019122650
[submodule "WareHouse/snake_DefaultOrganization_20231019133819"]
	path = WareHouse/snake_DefaultOrganization_20231019133819
	url = ./WareHouse/snake_DefaultOrganization_20231019133819
[submodule "WareHouse/snake_DefaultOrganization_20231019134025"]
	path = WareHouse/snake_DefaultOrganization_20231019134025
	url = ./WareHouse/snake_DefaultOrganization_20231019134025
[submodule "WareHouse/snake_DefaultOrganization_20231019134915"]
	path = WareHouse/snake_DefaultOrganization_20231019134915
	url = ./WareHouse/snake_DefaultOrganization_20231019134915
[submodule "WareHouse/snake_DefaultOrganization_20231019135717"]
	path = WareHouse/snake_DefaultOrganization_20231019135717
	url = ./WareHouse/snake_DefaultOrganization_20231019135717
[submodule "WareHouse/snake_DefaultOrganization_20231019142616"]
	path = WareHouse/snake_DefaultOrganization_20231019142616
	url = ./WareHouse/snake_DefaultOrganization_20231019142616
[submodule "WareHouse/snake_DefaultOrganization_20231019142820"]
	path = WareHouse/snake_DefaultOrganization_20231019142820
	url = ./WareHouse/snake_DefaultOrganization_20231019142820
[submodule "WareHouse/snake_DefaultOrganization_20231019145435"]
	path = WareHouse/snake_DefaultOrganization_20231019145435
	url = ./WareHouse/snake_DefaultOrganization_20231019145435
[submodule "WareHouse/snake_DefaultOrganization_20231019150220"]
	path = WareHouse/snake_DefaultOrganization_20231019150220
	url = ./WareHouse/snake_DefaultOrganization_20231019150220
[submodule "WareHouse/music_DefaultOrganization_20231020114509"]
	path = WareHouse/music_DefaultOrganization_20231020114509
	url = ./WareHouse/music_DefaultOrganization_20231020114509
[submodule "WareHouse/music_DefaultOrganization_20231020134238"]
	path = WareHouse/music_DefaultOrganization_20231020134238
	url = ./WareHouse/music_DefaultOrganization_20231020134238
[submodule "WareHouse/snake_DefaultOrganization_20231020142921"]
	path = WareHouse/snake_DefaultOrganization_20231020142921
	url = ./WareHouse/snake_DefaultOrganization_20231020142921
[submodule "WareHouse/music_DefaultOrganization_20231020145141"]
	path = WareHouse/music_DefaultOrganization_20231020145141
	url = ./WareHouse/music_DefaultOrganization_20231020145141
[submodule "WareHouse/Gomoku_DefaultOrganization_20231025155330"]
	path = WareHouse/Gomoku_DefaultOrganization_20231025155330
	url = ./WareHouse/Gomoku_DefaultOrganization_20231025155330
[submodule "WareHouse/Gomoku_DefaultOrganization_20231025161417"]
	path = WareHouse/Gomoku_DefaultOrganization_20231025161417
	url = ./WareHouse/Gomoku_DefaultOrganization_20231025161417
[submodule "WareHouse/md2html_DefaultOrganization_20231025164249"]
	path = WareHouse/md2html_DefaultOrganization_20231025164249
	url = ./WareHouse/md2html_DefaultOrganization_20231025164249
[submodule "WareHouse/adventuregame_DefaultOrganization_20231025170506"]
	path = WareHouse/adventuregame_DefaultOrganization_20231025170506
	url = ./WareHouse/adventuregame_DefaultOrganization_20231025170506
[submodule "WareHouse/adventuregame_DefaultOrganization_20231025173955"]
	path = WareHouse/adventuregame_DefaultOrganization_20231025173955
	url = ./WareHouse/adventuregame_DefaultOrganization_20231025173955
[submodule "WareHouse/adventuregame_DefaultOrganization_20231025175118"]
	path = WareHouse/adventuregame_DefaultOrganization_20231025175118
	url = ./WareHouse/adventuregame_DefaultOrganization_20231025175118
[submodule "WareHouse/adventuregame_DefaultOrganization_20231025180326"]
	path = WareHouse/adventuregame_DefaultOrganization_20231025180326
	url = ./WareHouse/adventuregame_DefaultOrganization_20231025180326
[submodule "WareHouse/adventure_DefaultOrganization_20231025194705"]
	path = WareHouse/adventure_DefaultOrganization_20231025194705
	url = ./WareHouse/adventure_DefaultOrganization_20231025194705
[submodule "WareHouse/adventure_DefaultOrganization_20231025200136"]
	path = WareHouse/adventure_DefaultOrganization_20231025200136
	url = ./WareHouse/adventure_DefaultOrganization_20231025200136
[submodule "WareHouse/adventuregame_DefaultOrganization_20231025203839"]
	path = WareHouse/adventuregame_DefaultOrganization_20231025203839
	url = ./WareHouse/adventuregame_DefaultOrganization_20231025203839
[submodule "WareHouse/Gomoku_DefaultOrganization_20231025205150"]
	path = WareHouse/Gomoku_DefaultOrganization_20231025205150
	url = ./WareHouse/Gomoku_DefaultOrganization_20231025205150
[submodule "WareHouse/snakegame_DefaultOrganization_20231025210020"]
	path = WareHouse/snakegame_DefaultOrganization_20231025210020
	url = ./WareHouse/snakegame_DefaultOrganization_20231025210020
[submodule "WareHouse/md2html_DefaultOrganization_20231025211454"]
	path = WareHouse/md2html_DefaultOrganization_20231025211454
	url = ./WareHouse/md2html_DefaultOrganization_20231025211454
[submodule "WareHouse/Gomoku_DefaultOrganization_20231025211517"]
	path = WareHouse/Gomoku_DefaultOrganization_20231025211517
	url = ./WareHouse/Gomoku_DefaultOrganization_20231025211517
[submodule "WareHouse/md2html_DefaultOrganization_20231025212812"]
	path = WareHouse/md2html_DefaultOrganization_20231025212812
	url = ./WareHouse/md2html_DefaultOrganization_20231025212812
[submodule "WareHouse/Gomoku_DefaultOrganization_20231027145838"]
	path = WareHouse/Gomoku_DefaultOrganization_20231027145838
	url = ./WareHouse/Gomoku_DefaultOrganization_20231027145838
[submodule "WareHouse/Gomoku_DefaultOrganization_20231027162510"]
	path = WareHouse/Gomoku_DefaultOrganization_20231027162510
	url = ./WareHouse/Gomoku_DefaultOrganization_20231027162510
[submodule "WareHouse/Gomoku_DefaultOrganization_20231031000433"]
	path = WareHouse/Gomoku_DefaultOrganization_20231031000433
	url = ./WareHouse/Gomoku_DefaultOrganization_20231031000433
[submodule "WareHouse/test_snakegame_DefaultOrganization_20231101214424"]
	path = WareHouse/test_snakegame_DefaultOrganization_20231101214424
	url = ./WareHouse/test_snakegame_DefaultOrganization_20231101214424
[submodule "WareHouse/Skill_Tree_Builder_WithoutMemory_20231113154658"]
	path = WareHouse/Skill_Tree_Builder_WithoutMemory_20231113154658
	url = ./WareHouse/Skill_Tree_Builder_WithoutMemory_20231113154658
[submodule "WareHouse/Skill_Level_Analyzer_WithoutMemory_20231113155014"]
	path = WareHouse/Skill_Level_Analyzer_WithoutMemory_20231113155014
	url = ./WareHouse/Skill_Level_Analyzer_WithoutMemory_20231113155014
[submodule "WareHouse/Dungeon_Puzzler_WithoutMemory_20231113155754"]
	path = WareHouse/Dungeon_Puzzler_WithoutMemory_20231113155754
	url = ./WareHouse/Dungeon_Puzzler_WithoutMemory_20231113155754
[submodule "WareHouse/Character_Development_Planner_WithoutMemory_20231113162103"]
	path = WareHouse/Character_Development_Planner_WithoutMemory_20231113162103
	url = ./WareHouse/Character_Development_Planner_WithoutMemory_20231113162103
[submodule "WareHouse/Quest_Difficulty_Analyzer_WithoutMemory_20231113162450"]
	path = WareHouse/Quest_Difficulty_Analyzer_WithoutMemory_20231113162450
	url = ./WareHouse/Quest_Difficulty_Analyzer_WithoutMemory_20231113162450
[submodule "WareHouse/Character_Development_Planner_WithMemory_20231113162941"]
	path = WareHouse/Character_Development_Planner_WithMemory_20231113162941
	url = ./WareHouse/Character_Development_Planner_WithMemory_20231113162941
[submodule "WareHouse/Quest_Difficulty_Analyzer_WithMemory_20231113163714"]
	path = WareHouse/Quest_Difficulty_Analyzer_WithMemory_20231113163714
	url = ./WareHouse/Quest_Difficulty_Analyzer_WithMemory_20231113163714
[submodule "WareHouse/Skill_Tree_Builder_DefaultOrganization_TrueMemory_GPT35TURBO_20231113165331"]
	path = WareHouse/Skill_Tree_Builder_DefaultOrganization_TrueMemory_GPT35TURBO_20231113165331
	url = ./WareHouse/Skill_Tree_Builder_DefaultOrganization_TrueMemory_GPT35TURBO_20231113165331
[submodule "WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113165605"]
	path = WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113165605
	url = ./WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113165605
[submodule "WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113165747"]
	path = WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113165747
	url = ./WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113165747
[submodule "WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113170317"]
	path = WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113170317
	url = ./WareHouse/Skill_Tree_Builder_TrueMemory_GPT35TURBO_20231113170317
[submodule "WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113170648"]
	path = WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113170648
	url = ./WareHouse/Skill_Level_Analyzer_TrueMemory_GPT35TURBO_20231113170648
[submodule "WareHouse/Character_Development_Planner_TrueMemory_GPT35TURBO_20231113170919"]
	path = WareHouse/Character_Development_Planner_TrueMemory_GPT35TURBO_20231113170919
	url = ./WareHouse/Character_Development_Planner_TrueMemory_GPT35TURBO_20231113170919
[submodule "WareHouse/Dungeon_Puzzler_TrueMemory_GPT35TURBO_20231113171433"]
	path = WareHouse/Dungeon_Puzzler_TrueMemory_GPT35TURBO_20231113171433
	url = ./WareHouse/Dungeon_Puzzler_TrueMemory_GPT35TURBO_20231113171433
[submodule "WareHouse/Quest_Difficulty_Analyzer_TrueMemory_GPT35TURBO_20231113172325"]
	path = WareHouse/Quest_Difficulty_Analyzer_TrueMemory_GPT35TURBO_20231113172325
	url = ./WareHouse/Quest_Difficulty_Analyzer_TrueMemory_GPT35TURBO_20231113172325
[submodule "WareHouse/Family_Cooking_Time_TrueMemory_GPT35TURBO_20231113172723"]
	path = WareHouse/Family_Cooking_Time_TrueMemory_GPT35TURBO_20231113172723
	url = ./WareHouse/Family_Cooking_Time_TrueMemory_GPT35TURBO_20231113172723
[submodule "WareHouse/FamilyMusicJam_TrueMemory_GPT35TURBO_20231113173117"]
	path = WareHouse/FamilyMusicJam_TrueMemory_GPT35TURBO_20231113173117
	url = ./WareHouse/FamilyMusicJam_TrueMemory_GPT35TURBO_20231113173117
[submodule "WareHouse/FunQuizTime_TrueMemory_GPT35TURBO_20231113173629"]
	path = WareHouse/FunQuizTime_TrueMemory_GPT35TURBO_20231113173629
	url = ./WareHouse/FunQuizTime_TrueMemory_GPT35TURBO_20231113173629
[submodule "WareHouse/MindfulKids_TrueMemory_GPT35TURBO_20231113174146"]
	path = WareHouse/MindfulKids_TrueMemory_GPT35TURBO_20231113174146
	url = ./WareHouse/MindfulKids_TrueMemory_GPT35TURBO_20231113174146
[submodule "WareHouse/FamilySchedule_TrueMemory_GPT35TURBO_20231113174620"]
	path = WareHouse/FamilySchedule_TrueMemory_GPT35TURBO_20231113174620
	url = ./WareHouse/FamilySchedule_TrueMemory_GPT35TURBO_20231113174620
[submodule "WareHouse/Video_Speed_Controller_TrueMemory_GPT35TURBO_20231113175014"]
	path = WareHouse/Video_Speed_Controller_TrueMemory_GPT35TURBO_20231113175014
	url = ./WareHouse/Video_Speed_Controller_TrueMemory_GPT35TURBO_20231113175014
[submodule "WareHouse/Video_Scene_Recognition_Viewer_TrueMemory_GPT35TURBO_20231113175233"]
	path = WareHouse/Video_Scene_Recognition_Viewer_TrueMemory_GPT35TURBO_20231113175233
	url = ./WareHouse/Video_Scene_Recognition_Viewer_TrueMemory_GPT35TURBO_20231113175233
[submodule "WareHouse/VideoFilterizer_TrueMemory_GPT35TURBO_20231113175653"]
	path = WareHouse/VideoFilterizer_TrueMemory_GPT35TURBO_20231113175653
	url = ./WareHouse/VideoFilterizer_TrueMemory_GPT35TURBO_20231113175653
[submodule "WareHouse/VideoHighlighter_TrueMemory_GPT35TURBO_20231113180213"]
	path = WareHouse/VideoHighlighter_TrueMemory_GPT35TURBO_20231113180213
	url = ./WareHouse/VideoHighlighter_TrueMemory_GPT35TURBO_20231113180213
[submodule "WareHouse/Video_Mosaic_Creator_TrueMemory_GPT35TURBO_20231113181039"]
	path = WareHouse/Video_Mosaic_Creator_TrueMemory_GPT35TURBO_20231113181039
	url = ./WareHouse/Video_Mosaic_Creator_TrueMemory_GPT35TURBO_20231113181039
[submodule "WareHouse/Skill_Tree_Builder_FalseMemory_GPT35TURBO_20231113182726"]
	path = WareHouse/Skill_Tree_Builder_FalseMemory_GPT35TURBO_20231113182726
	url = ./WareHouse/Skill_Tree_Builder_FalseMemory_GPT35TURBO_20231113182726
[submodule "WareHouse/Skill_Level_Analyzer_FalseMemory_GPT35TURBO_20231113182838"]
	path = WareHouse/Skill_Level_Analyzer_FalseMemory_GPT35TURBO_20231113182838
	url = ./WareHouse/Skill_Level_Analyzer_FalseMemory_GPT35TURBO_20231113182838
[submodule "WareHouse/Character_Development_Planner_FalseMemory_GPT35TURBO_20231113183050"]
	path = WareHouse/Character_Development_Planner_FalseMemory_GPT35TURBO_20231113183050
	url = ./WareHouse/Character_Development_Planner_FalseMemory_GPT35TURBO_20231113183050
[submodule "WareHouse/Dungeon_Puzzler_FalseMemory_GPT35TURBO_20231113183238"]
	path = WareHouse/Dungeon_Puzzler_FalseMemory_GPT35TURBO_20231113183238
	url = ./WareHouse/Dungeon_Puzzler_FalseMemory_GPT35TURBO_20231113183238
[submodule "WareHouse/Quest_Difficulty_Analyzer_FalseMemory_GPT35TURBO_20231113183520"]
	path = WareHouse/Quest_Difficulty_Analyzer_FalseMemory_GPT35TURBO_20231113183520
	url = ./WareHouse/Quest_Difficulty_Analyzer_FalseMemory_GPT35TURBO_20231113183520
[submodule "WareHouse/Family_Cooking_Time_FalseMemory_GPT35TURBO_20231113183707"]
	path = WareHouse/Family_Cooking_Time_FalseMemory_GPT35TURBO_20231113183707
	url = ./WareHouse/Family_Cooking_Time_FalseMemory_GPT35TURBO_20231113183707
[submodule "WareHouse/FamilyMusicJam_FalseMemory_GPT35TURBO_20231113183846"]
	path = WareHouse/FamilyMusicJam_FalseMemory_GPT35TURBO_20231113183846
	url = ./WareHouse/FamilyMusicJam_FalseMemory_GPT35TURBO_20231113183846
[submodule "WareHouse/FunQuizTime_FalseMemory_GPT35TURBO_20231113184028"]
	path = WareHouse/FunQuizTime_FalseMemory_GPT35TURBO_20231113184028
	url = ./WareHouse/FunQuizTime_FalseMemory_GPT35TURBO_20231113184028
[submodule "WareHouse/MindfulKids_FalseMemory_GPT35TURBO_20231113184229"]
	path = WareHouse/MindfulKids_FalseMemory_GPT35TURBO_20231113184229
	url = ./WareHouse/MindfulKids_FalseMemory_GPT35TURBO_20231113184229
[submodule "WareHouse/FamilySchedule_FalseMemory_GPT35TURBO_20231113184535"]
	path = WareHouse/FamilySchedule_FalseMemory_GPT35TURBO_20231113184535
	url = ./WareHouse/FamilySchedule_FalseMemory_GPT35TURBO_20231113184535
[submodule "WareHouse/Video_Speed_Controller_FalseMemory_GPT35TURBO_20231113184913"]
	path = WareHouse/Video_Speed_Controller_FalseMemory_GPT35TURBO_20231113184913
	url = ./WareHouse/Video_Speed_Controller_FalseMemory_GPT35TURBO_20231113184913
[submodule "WareHouse/Video_Scene_Recognition_Viewer_FalseMemory_GPT35TURBO_20231113185233"]
	path = WareHouse/Video_Scene_Recognition_Viewer_FalseMemory_GPT35TURBO_20231113185233
	url = ./WareHouse/Video_Scene_Recognition_Viewer_FalseMemory_GPT35TURBO_20231113185233
[submodule "WareHouse/VideoFilterizer_FalseMemory_GPT35TURBO_20231113185608"]
	path = WareHouse/VideoFilterizer_FalseMemory_GPT35TURBO_20231113185608
	url = ./WareHouse/VideoFilterizer_FalseMemory_GPT35TURBO_20231113185608
[submodule "WareHouse/VideoHighlighter_FalseMemory_GPT35TURBO_20231113185944"]
	path = WareHouse/VideoHighlighter_FalseMemory_GPT35TURBO_20231113185944
	url = ./WareHouse/VideoHighlighter_FalseMemory_GPT35TURBO_20231113185944
[submodule "WareHouse/Video_Mosaic_Creator_FalseMemory_GPT35TURBO_20231113190240"]
	path = WareHouse/Video_Mosaic_Creator_FalseMemory_GPT35TURBO_20231113190240
	url = ./WareHouse/Video_Mosaic_Creator_FalseMemory_GPT35TURBO_20231113190240
